@model Firma.Data.Data.Flota.KategoriaJachtu

@{
    ViewData["Title"] = "Dodaj kategorię jachtu";
}

<h2 class="mb-4"><i class="bi bi-plus-circle me-2"></i>Dodaj kategorię jachtu</h2>

<form asp-action="Create">
    <div class="mb-3">
        <label asp-for="Nazwa" class="form-label"></label>
        <input asp-for="Nazwa" class="form-control" />
        <span asp-validation-for="Nazwa" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">
        <i class="bi bi-check-circle"></i> Zapisz
    </button>
    <a asp-action="Index" class="btn btn-secondary ms-2">Wróć</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
