@model Firma.Data.Data.Flota.KategoriaJachtu

@{
    ViewData["Title"] = "Usuń kategorię jachtu";
}

<h2 class="mb-4 text-danger"><i class="bi bi-trash-fill me-2"></i>Usuń kategorię jachtu</h2>

<h4 class="mb-3">Czy na pewno chcesz usunąć tę kategorię?</h4>

<div class="mb-3">
    <label class="form-label fw-bold">Nazwa:</label>
    <p>@Model.Nazwa</p>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="IdKategorii" />
    <button type="submit" class="btn btn-danger">
        <i class="bi bi-trash"></i> Usuń
    </button>
    <a asp-action="Index" class="btn btn-secondary ms-2">Anuluj</a>
</form>
