@model IEnumerable<Firma.Data.Data.CMS.Strona>
<div class="collapse navbar-collapse" id="mainNavbar">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        @foreach (var item in Model) // w modelu mamy wszystkie strony z BD
        {
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Index" asp-route-id="@item.IdStrony">
                   @item.LinkTytul
                </a>
            </li>
        }
    </ul>
</div>