@{
    ViewData["Title"] = "Kontakt";
}
<h2 class="mb-4 text-center">Skontaktuj się z nami</h2>

<div class="row align-items-start">
    <div class="col-lg-6">
        <form>
            <div class="mb-3">
                <label for="Imie" class="form-label">Imię i nazwisko</label>
                <input type="text" class="form-control" id="Imie" placeholder="Jan Kowalski">
            </div>
            <div class="mb-3">
                <label for="Email" class="form-label">Adres e-mail</label>
                <input type="email" class="form-control" id="Email" placeholder="jan@nazwa.com">
            </div>
            <div class="mb-3">
                <label for="Jacht" class="form-label">Wybierz jacht</label>
                <select class="form-select" id="Jacht">
                    <option selected disabled>Wybierz...</option>
                    <optgroup label="Jachty motorowodne">
                        <option>Posejdon 500</option>
                        <option>Rodos Explorer</option>
                        <option>Lefkada Sport 320</option>
                        <option>Atena Speedster</option>
                        <option>Zakynthos Turbo</option>
                        <option>Greco Cruiser</option>
                    </optgroup>
                    <optgroup label="Katamarany">
                        <option>Athena 400</option>
                        <option>Santorini Cat</option>
                    </optgroup>
                </select>
            </div>
            <div class="mb-3">
                <label for="DataOd" class="form-label">Data rozpoczęcia czarteru</label>
                <input type="date" class="form-control" id="DataOd" name="DataOd" required>
            </div>
            <div class="mb-3">
                <label for="DataDo" class="form-label">Data zakończenia czarteru</label>
                <input type="date" class="form-control" id="DataDo" name="DataDo" required>
            </div>

            <div class="mb-3">
                <label for="Wiadomosc" class="form-label">Wiadomość</label>
                <textarea class="form-control" id="Wiadomosc" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Wyślij</button>
        </form>
    </div>
     
    <div class="col-lg-6 mt-4 mt-lg-0 d-flex align-items-center justify-content-center">
        <img src="~/content/grecja3.jpg" class="img-fluid rounded shadow" style="max-height: 550px; object-fit: cover;" alt="Grecja">
    </div>
</div>
